{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 12
  },
  "rules": {
    "semi": ["error", "never"],
    // This rule was so noicy so let's turn it off and see how that works
    "import/newline-after-import": ["error"],
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
